body{
    background-color: wheat;
}
h1{
    color: red;
    text-align: center;
}
h3{
    color: blueviolet;
    text-align: center;
}

ul li, ol li{
    text-align: center;
    
}
ul li{
    
    list-style: none;
}
img{
    align-content: center;
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}