body{
    background-color: wheat;
}
h1{
    color: red;
    text-align: center;
}
h3{
    color: blueviolet;
    text-align: center;
}




img{
    align-content: center;
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p, .ordered-list, .unordered-list{
    width: 600px;
    margin: auto;
}
.unordered-list{
    width: 350px;
}