body{
    background-color: #eee;
    ;
}
h1{
    color: darkred;
    text-align: center;
}
h3, h2{
    color: red;
    text-align: center;
}

img{
    align-content: center;
    height: auto;
    width: 600px;
    display: block;
    margin: 0 auto;
}

p, .ordered-list, .unordered-list{
    width: 600px;
    margin: 0 auto;
}
.unordered-list{
    width: 350px;
}
.recipe-card{
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
}
ul li a{
    font-size: 20px;
    text-decoration: none;
    color: darkred;
}